//imports always go at the top

@import "reset";

//variables

$heading-color: #ff7733;

$main-font: Helvetica, Arial, sans-serif;

$heading: orange;

h1 {
    color: $heading-color;
    font-family: $main-font;
}

//mixin

@mixin warning {
    color: blue;
    background-color: lime;
}

.danger {
    @include warning;
    font-family: $main-font;
}

//extend

.jumbotron{
    width: 100%;
    background-color: lightblue;
    border: 2px solid navy;
}

.jumbotron-about {
    @extend .jumbotron;
    color: gray;
}