@import "../lab03/partials/reset";
@import "../lab03/partials/variables";
@import "../lab03/partials/mixins";

body{
    font-family: $main-font;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    color: $colorfour;
}

%headandfoot{
    margin: 0;
    padding: $small;
    text-align: center;
    }

.heading{
    @extend %headandfoot;
    background-color: $colorthree;

    h1 {
        color: $basic;
    }

    nav {
        a{
            @include nav;
            transition: 1s;
            position:relative;
            display: inline-block;
        }

        a:hover{
            color: $colorone;
            transform: scale(1.15);
        }
    }
}

.flex{
    display: flex;
    margin: $small;
    justify-content: space-between;
    
}

@media screen and (max-width: 760px){
    .flex{
        flex-direction: column;
    }

    .flex-recipe {
        flex-basis: 100%;
        margin: $small 0;
        img{
            width: 100%;
        }
    }
}

@media screen and (max-width:1080px) and (min-width: 760px){
    main {
        width: 760px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1090px){
    main {
        width: 1080px;
        margin: 0 auto;
    }
}

.flex-item {
    flex-basis: 19%;
    border-radius: 5px;
}

.flex-recipe{
    @extend .flex-item;
    @include roundshadow;

    img{
        border-radius: 5px 5px 0px 0px;
    }

    h3{
        text-align: center;
    }
}

.newsletter {
    @include roundshadow;
    margin: $medium $small;
    background-color: $colorone;
    text-align: center;
    padding: $medium;
    
    form{
        input#email{
            @include form;
            border: 1px solid $colorthree;
        }
        input#submit{
            @include button;
        }
    }
}

#big{
    margin: $medium $small;

    img{
        border-radius: $radius;
        width: 100%;
    }
}

.about{
    text-align: center;

    button{
        @include button;
        a{
            @include nav;
        }
    }
}

#older {
    margin: $medium $small;
}


footer{
    @extend %headandfoot;
    background-color: $colortwo;
    a{
        @include nav;
    }

    p{
        color: $basic;
    }
}